branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./version.properties"
          from: "libVersion=.*"
          to: "libVersion=${nextRelease.version}"
  - - "@semantic-release/exec"
    - prepareCmd: "./gradlew build --warn --stacktrace"
      publishCmd: "./gradlew publish --warn --stacktrace"
  - - "@semantic-release/git"
    - assets:
        - "./version.properties"
  - "@semantic-release/github"
options:
  debug: true
