# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build library jar
      run: ./gradlew jar
    - name: Run tests
      run: ./gradlew test
    - name: Run tests in sample directory
      run: |
        cd ./sample/
        ./gradlew --debug test
    - name: Release
      uses: cycjimmy/semantic-release-action@v2
      with:
        extra_plugins: |
          "@semantic-release/commit-analyzer"
          "@semantic-release/release-notes-generator"
          "@google/semantic-release-replace-plugin"
          "@semantic-release/exec"
          "@semantic-release/git"
          "@semantic-release/github"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
